footer {
    height: 1em;
    border-top: 0.5px solid rgb(215, 213, 213);
    background-color: #eeeeee;
  }


.social-media-links {
    padding: 1em; 
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
  }
  
  
  
  .socials {
    margin: 20px;
  }

  // .socials:hover {
  //   background-color: black;
  // }

  svg {
    -webkit-filter: invert(60%); /* safari 6.0 - 9.0 */
            filter: invert(60%);
  }

  svg:hover {
    -webkit-filter: invert(0%); /* safari 6.0 - 9.0 */
            filter: invert(0%);
  }