$font-stack: Helvetica, sans-serif;
$primary-color: grey;

.frame {
  text-align: center;
  border: lightgrey 1px solid;
  margin: 2em;
  color: $primary-color;
}

h1 {
  color: blanchedalmond;
  text-align: center;
}
