.h4-profile-page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.big-profile-page {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    

}

.profile-image-page {
    width: 20rem;
    height: 20rem;
    align-self: center;
    padding-left: 100px;
    border-radius: 50px;
}


// .right-area {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
// }


@media (max-width: 1000px) {
    .big-profile-page {
      flex-direction: column;
    
    }

    .profile-image-page{
        padding: 0px;
    }
  }


@media (max-width: 600px) {
    .big-profile-page {
      flex-direction: column;
    }


    .profile-image-page {
            width: 20rem;
            height: 20rem;
            align-self: center;
            padding: 0px;
        }
}
