h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.big-profile {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    box-shadow: 100px, 10px, 10px, red;

}

.profile-image {
    width: 20rem;
    height: 20rem;
    align-self: center;
    padding-left: 100px;
}


h4 {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.right-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}