section {
    padding: 100px;
    // background: rgb(215, 213, 213);
    background: white;
    height: 75vh;
  }

section .container {
    position: absolute;
    display: flex;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 100;
  }
  section .container .box {
    position: relative;
    width: 15%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    border-right: 20px solid white;
  }
  section .container .box:last-child {
    border-right: none;
  }
  section .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  section .container .box .imgBx.active {
    position: fixed;
    top: 100px;
    left: 100px;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    z-index: 1000;
    filter: grayscale(0);
    opacity: 1;
  }
  section .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  section .container .box .imgBx:hover img {
    transform: scale(1.1);
    opacity: 0.5;
  }
  section .container .box .imgBx.active:hover p img {
    transform: scale(1);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  
   .overlay:hover {
    opacity: 1;
  }
  
  .text1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline white 1px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media (max-width: 768px) {
    section {
      border: none;
      height: 100vh;
      padding: none;
    }
    section .container {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .desktop-only {
      display: none;
    }

    .mobile-only {
      display: block;
      
    }

    section .container .box {
      width: 100%;
      height: 20%;
      border: none;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }